

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	overflow-x: hidden;
	
}

a, button {
	transition: all 0.3s ease;
	color: #FFFFFF;
}

button:focus {
    outline: none;
}

a:hover {
	color: #FFFF00;
	text-decoration: underline;
}
a:focus {
	text-decoration: none;
	outline: none;
}

h1 {
	color: #FFFFFF;
	font-size: 4rem;	
}

p {
	color: #FFFFFF;	
}

input{
  background-color: transparent;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #333333 inset;
  -webkit-text-fill-color: #fff;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}

.cb-slideshow-text-container {
    height: 100vh;
    display: flex;
    align-items: center;
}


.tm-content {
    z-index: 1001;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control {
    color: #FFFFFF;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
  margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.75rem 1.2rem;
}

.form-section {  
    color: #FFFFFF;
    /*background-color: transparent;*/
    margin-bottom: -200px;
    
}



.contact_email {
	color: #FFFFFF;
}
.buttons{
  margin: 15px auto;
  padding: 10px;
}
.tm-btn-subscribe {
  height: 60px;
  width: 90px;
  background-color: #20990f;
  border-radius: .5rem;
  border-color: white;
  padding: 0.6rem 0.5rem;
  font-size:0.5rem;
  cursor: pointer;
}

.tm-btn-subscribe:hover {
  background-color: #137873;
}

.tm-btn-subscribe-login {
  height: 60px;
  width: 90px;
  margin-left: 10px;
	background-color: #006699;
	border-radius: .5rem;
    border-color: white;
	 padding: 0.2rem 1rem;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}

.tm-btn-subscribe-login:hover {
    background-color: #055278;
}

.tm-btn-subscribe-register{
  height: 60px;
  width: 90px;
  background-color: #ca660c;
  border-radius: .5rem;
  border-color: white;
  margin-right: 10px;
  margin-left: 20px;
  padding: 0.75rem 1.6rem;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}

.tm-btn-subscribe-register:hover {
  background-color: #ca7067;
}

.tm-social-icons-container {
    margin: 10px;
}

.tm-social-link {
    border-color: #FFFFFF;
    color: black;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.fa {
    color: #FFFFFF;
}

.footer-link {
    margin: 20px;
	font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align:center;
    width:100%;
    z-index: 1001;
}

/* Animation */
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s;

}


.cb-slideshow li:nth-child(1) { 
    background-image: url(../images/back/back1.jpg)
}
.cb-slideshow li:nth-child(2) {
    background-image: url(../images/back/back2.jpg);
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}
.cb-slideshow li:nth-child(3) { 
    background-image: url(../images/back/back3.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(4) { 
    background-image: url(../images/back/back4.jpg);
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  -ms-animation-delay: 40s;
    animation-delay: 40s;
}
/*.cb-slideshow li:nth-child(5) { */
/*    background-image: url(/images/back5.jpg);*/
/*    animation-delay: 48s; */
/*}*/
/*.cb-slideshow li:nth-child(6) { */
/*    background-image: url(/images/back6.jpg);*/
/*    animation-delay: 60s; */
/*}*/


@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	10% {
	    opacity: 1;
	    transform: scale(1.15);
	    animation-timing-function: ease-out;
	}
	20% {
	    opacity: 1;
	    transform: scale(1.20);
	}
	40% {
	    opacity: 0;
	    transform: scale(1.40);
	}
	100% { opacity: 0 }
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
	.tm-content {
		margin-top: 80px;
	}
}

@media screen and (max-width: 576px) { 
    .cb-slideshow li div h3 { font-size: 80px }
	

}
